header {
    position: absolute;
    width: 100%;
    height: 6.11vw;
    z-index: 3;

    .headerCont {
        position: relative;
        width: 100%;
        padding-top: 0.611%;

        .logoHeader {
            position: absolute;
            top: 0.69vw;
            left: 5.35vw;
            font-family: seravek-web, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 3.125;
            line-height: 150%;
            font-size: 3.125vw;
            color: white;
            cursor: pointer;
        }

        .linksHeader {
            position: absolute;
            top: 0;
            right: 5vw;
            bottom: 0;
            height: 100%;
            display: flex;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 7.57vw;
                height: 6.11vw;
                font-family: 'Sen';
                font-style: normal;
                font-weight: 700;
                font-size: 1.11vw;
                text-decoration: none;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: #5221E6;
                }
            }
        }
        .darkLinks {
            a {
                color: black;
            }
        }
    }
}