<header [class.headerDark]="darkMode">

    <div routerLink="/" class="logoHeader" [class.darkLogo]="darkMode" [class.fontSize]="darkMode" (click)="scrollTop()">J.H</div>

    <div class="linksHeader" [class.darkLinks]="darkMode">
        <a routerLink="/">Home</a>
        <a href="#skills">Skills</a>
        <a href="#work">Work</a>
        <a href="#about">About</a>
        <a href="#contactSection">Contact</a>
    </div>

    <div class="menu">
        <div class="topnav" [class.headerDark]="darkMode">

            <a href="#home" class="active"></a>

            <div id="myLinks">
                <a routerLink="/" (click)="slideInOut()">Home</a>
                <a href="#skills" (click)="slideInOut()">Skills</a>
                <a href="#work" (click)="slideInOut()">Work</a>
                <a href="#about" (click)="slideInOut()">About</a>
                <a href="#contactSection"  (click)="slideInOut()">Contact</a>
            </div>

            <a href="javascript:void(0);" class="icon" (click)="slideInOut()">
                <img class="menuImg" src="assets/ico/menu-smartphone.png">
            </a>
            
        </div>
    </div>

</header>

