header {
    position: fixed;
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    .logoHeader {
        position: absolute;
        left: 5.35vw;
        font-family: seravek-web, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        font-size: 44px;
        color: white;
        cursor: pointer;
    }

    .linksHeader {
        position: absolute;
        right: 5vw;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 1.67vw;
            padding-right: 1.67vw;
            height: 88px;
            max-height: 88px;
            text-decoration: none;
            color: white;
            opacity: 0.7;
            cursor: pointer;
            transition: 225ms ease-in-out;

            &:hover {
                opacity: 1;
                background-color: #5221E6;
            }
        }

        .language {
            display: flex;
            align-items: center;
            padding-left: 1.67vw;
            padding-right: 1.67vw;
            height: 88px;

            .languageIcon {
                height: 20px;
            }
        }
    }

    .darkLinks {
        a {
            color: #5221E6;

            &:hover {
                color: white;
            }
        }
    }

    .darkLogo {
        color: black;
    }
}

.headerDark {
    background-color: white !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 88px;
}

.headerDarkMenu {
    background-color: lightgray !important;
    color: black !important;
}

.toggleLanguageBtn {
    background-color: black;
    border: 0;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.changeWidth {
    max-width: 110px !important;
}


@media(max-width: 900px) {

    header {
        position: fixed;
        height: 88px;

        .languageIconSmallSize {
            position: absolute;
            top: 32px;
            right: 104px;
            height: 20px;
            max-width: 24px;
            cursor: pointer;
        }

        .toggleLanguageBtn {
            position: absolute;
            top: 32px;
            right: 80px;
            height: 20px;
            max-width: 24px;
            cursor: pointer;
        }

        .logoHeader {
            position: absolute;
            left: 0;
            margin-left: 4.44vw;
        }

        .linksHeader {
            display: none;
        }

        .menuSmallSize{
            margin-left: 75%;
            width: 300px;
            z-index: 4;
            display: flex;


            .topnav {
                overflow: hidden;
                background-color: black;
                display: flex;
                align-items: center;
            }

            .topnav #myLinks {
                display: none;
            }

            #myLinks {
                position: absolute;
                text-align: right;
                right: 4vw;
                width: 100%;
                max-width: 90px;
            }

            #myLinks a {
                color: rgba(255, 255, 255, 0.7);
                background-color: black;
                margin-top: 2px;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-right: 16px;

                &:first-child {
                    margin-top: 356px;
                }
            }

            .myLinksDE {
                width: 100%;
                max-width: 110px !important;
            }

            .myLinksDE a {
                padding-right: 8px !important;
            }

            .topnav {
                height: 6.11vw;
                max-height: 88px;
                display: flex;
                align-items: center;
                border: 0;
            }

            .topnav a {
                text-decoration: none;
                display: block;
            }

            .topnav a.icon {
                background: transparent;
                display: block;
                position: absolute;
                right: 30px;
            }

            .active {
                background-color: transparent;
            }
        }

        .menuImg {
            width: 20px;
        }
    }
}

@media(min-width: 901px) {
    header {

        .menuSmallSize {
            display: none;
        }
    }
}


////// Animations //////

.openMenuA {
    animation: smoothOut 225ms ease-in-out;
    z-index: 1000 !important;
}

.exitMenu {
    animation: smoothIn 225ms ease-in-out;
}

@keyframes smoothOut {

    0% {
        opacity: 0;
        padding-left: 90%;
        width: 0%;
    }

    100% {
        opacity: 1;
        padding-left: 0;
        width: 100%;
    }
}

@keyframes smoothIn {

    0% {
        opacity: 1;
        padding-left: 0;
        width: 100%;
    }

    100% {
        opacity: 0;
        padding-left: 90%;
        width: 0%;
    }
}