footer {
    width: 100%;
    height: 13.89vw;
    background-color: white;
    display: flex;
    align-items: center;
    border-top: rgba(0,0,0,0.2);



    p {
        margin-left: 5.76vw;
        min-width: 15.83vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 150%;
        color: #8491A0;
        cursor: pointer;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
                color: #5221E6;
            }
        }   
    }

    .iconsFooter {
        display: flex;
        align-items: center;
        margin-left: 53.68vw;

        .linkedIn {
            width: 2.34vw;
            height: 2.34vw;
            cursor: pointer;
        }

        .git {
            margin-left: 6.35vw;
            width: 2.6vw;
            height: 2.54vw;
            cursor: pointer;
        }
        .xing {
            margin-left: 6.57vw;
            width: 2.11vw;
            height: 2.48vw;
            cursor: pointer;
        }
    }
}

.headerDark {
    height: 6.81vw;
}

@media(max-width: 900px) {

    footer {
        position: relative;
        height: 30vw !important;
        flex-direction: column-reverse;
    
        p {
            position: absolute;
            top: 0;
            margin-top: 17vw;
            margin-left: 0;
            font-size: 5vw;

        }
    
        .iconsFooter {
            position: absolute;
            top: 5.35vw;
            margin-left: 0;
    
            .linkedIn {
                width: 8.125vw;
                height: 8.125vw;
            }
    
            .git {
                margin-left: 22vw;
                width: 9.26vw;
                height: 9.26vw;
            }
            .xing {
                margin-left: 22.775vw;
                width: 7.31vw;
                height: 8.6vw;
            }
        }
    }
}