.workSection {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #131111;
    padding-bottom: 32px;

    h2 {
        position: absolute;
        top: 6.67vw;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 3.82vw;
        line-height: 6.25vw;
        color: white;
    }

    .buttons {
        position: absolute;
        top: 14vw;

        .backgroundColorBtn {
            background-color: #5221E6 !important;
            border: 1px solid #5221E6;
        }

        .btns {
            width: 8.89vw;
            height: 4.86vw;
            margin-left: 0.21vw;
            margin-right: 0.21vw;
            border: 2px solid #5221E6;
            box-sizing: border-box;
            background-color: transparent;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 1.25vw;
            line-height: 1.39vw;
            color: white;
            cursor: pointer;
            transition: 225ms ease-in-out;

            &:hover {
                background: #1E0079;
                border: 1px solid #1E0079;
            }
        }
    }

    .myProjects {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 22.2vw;

        .imgCont {
            position: relative;
            margin: 1.56vw;
            width: 30.7vw;
            height: 25.5vw;

            .workImg {
                width: 100%;
                height: 100%;
                opacity: 0.75;
                transition: 0.5s ease-in-out;
                backface-visibility: hidden;
                object-fit: cover;
            }

            .middle {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background: rgba(245, 245, 245, 0.8);
                transition: 0.5s ease-in-out;
                opacity: 0;

                .title {
                    margin-top: 16px;
                    color: #5221E6;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.25vw;
                }

                .text {
                    text-align: center;
                    color: black;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.25vw;
                    line-height: 2vw;
                }

                .red {
                    color: red;
                }

                .btn {
                    margin-left: 0.21vw;
                    margin-right: 0.21vw;
                    width: 8.89vw;
                    height: 4.17vw;
                    background: #FFFFFF;
                    border: 1px solid #5221E6;
                    font-weight: 500;
                    font-size: 1.25vw;
                    line-height: 1.38px;
                    color: #5221E6;
                    cursor: pointer;
                    transition: 225ms ease-in-out;

                    &:hover {
                        color: #FFFFFF;
                        background-color: #1E0079;
                        border: 1px solid #1E0079;
                    }
                }
            }
        }

        .work:hover .workImg {
            opacity: 0.3;
        }

        .work:hover .middle {
            opacity: 1;
        }
    }
}

@media(max-width: 900px) {

    .workSection {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            position: unset;
            margin-top: 12.84vw;
            font-size: 8.89vw;
            line-height: 11.11vw;
            color: white;
        }

        .buttons {
            position: unset;
            margin-top: 9vw;

            .btns {
                width: 24.3vw;
                height: 13.1vw;
                margin-left: 0.55vw;
                margin-right: 0.55vw;
                font-size: 4vw;
                line-height: 0vw;
            }
        }

        .myProjects {
            position: unset;
            margin-top: 7.5vw;
            padding-bottom: 12vw;

            .d-wrap {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
            }

            .d-flex {
                flex-direction: column;
            }

            .imgCont {
                position: relative;
                margin: 3.5vw;
                width: 73.5vw;
                height: 60.1vw;

                .workImg {
                    animation: opacityC 6s infinite;
                }

                .middle {
                    background: rgba(245, 245, 245, 0.8);
                    animation: opacityB 6s infinite;

                    .title {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 4.2vw;
                        line-height: 1.36vw;
                    }

                    .text {
                        max-width: 44vw;
                        color: black;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 4.2vw;
                        line-height: 5.36vw;
                        text-align: center;
                    }

                    .btn {
                        width: 24.6vw;
                        height: 11.5vw;
                        font-weight: 500;
                        font-size: 4.8vw;
                    }
                }
            }
        }
    }
}


@media(max-width: 530px) {

    .workSection {
        .buttons {
            .btns {
                font-size: 3.4vw;
            }
        }

        .myProjects {
            .imgCont {
                .middle {
                    .btn {
                        font-size: 4.4vw;
                    }
                }
            }
        }
    }
}


///// Animations responsive //////

@keyframes opacityB {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes opacityC {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}