.workSection {
    width: 100%;
    height: 83.125vw;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #131111;

    h2 {
        position: absolute;
        top: 4.58vw;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 3.82vw;
        line-height: 6.25vw;
        color: white;
    }

    .myProjects {
        position: absolute;
        top: 14vw;
        left: 16.14vw;

        .imgCont {
            position: relative;
            margin: 1.56vw;
            width: 30.7vw;
            height: 26vw;

            .overlay {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.8);
                z-index: 1000;

                .workImg {
                    height: 100%;
                    max-width: 100%;
                    opacity: 1;
                    transition: 0.5s ease;
                    backface-visibility: hidden;
                    object-fit: cover;
                }

                .middle {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: rgba(245, 245, 245, 0.9);
                    transition: 0.5s ease;
                    opacity: 0;

                    .title {
                        margin-top: 6.8vw;
                        color: #FA2759;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.25vw;
                        line-height: 1.38px;
                    }

                    .text {
                        margin-top: 2.66vw;
                        color: black;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.25vw;
                        line-height: 1.38px;
                    }

                    .btn {
                        margin-top: 4.75vw;
                        width: 128px;
                        height: 60px;
                        left: 411px;
                        top: 2530px;
                        background: #FFFFFF;
                        border: 1px solid #FA2759;
                        font-weight: 500;
                        font-size: 1.25vw;
                        line-height: 1.38px;
                        color: #FB426E;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .overlay:hover .workImg {
                opacity: 0.3;
            }

            .overlay:hover .middle {
                opacity: 1;
            }
        }





    }
}

@media(max-width: 900px) {

    .workSection {
        width: 100%;
        height: 314vw;

        background-color: black;

        h2 {
            top: 13.04vw;
            font-size: 8.89vw;
            line-height: 11.11vw;
            color: white;
        }

        .myProjects {
            position: absolute;
            top: 32vw;
            left: 13.64vw;

            .d-flex {
                flex-direction: column;
            }

            img {
                margin: 0;
                width: 73.53vw;
                height: 60.96vw;
                margin-bottom: 6.95vw;
            }
        }
    }
}