<div class="workSection" id="work">

    <h2 id="titleWork" translate>My Work</h2>

    <div class="buttons" id="buttonsWork">

        <button 
            class="btns backgroundColorBtn" 
            (click)="toggle1(); scaleIn()" 
            [disabled]="btn1"
            [class.backgroundColorBtn]="btn1" 
            translate>
            All
        </button>

        <button 
            class="btns" 
            (click)="toggle2(); scaleIn()" 
            [disabled]="btn2"
            [class.backgroundColorBtn]="btn2">
            Angular
        </button>

        <button 
            class="btns" 
            (click)="toggle3(); scaleIn()" 
            [disabled]="btn3" 
            [class.backgroundColorBtn]="btn3">
            JavaScript
        </button>
        
    </div>

    <div class="myProjects">

        <!-- slack-clone -->
        <div class="work" id="ang3" (click)="showOverlay6()">
            <div class="imgCont">
                <img class="workImg" src="assets/img/slackclone.png">
                <div class="overlay" id="overlay5">
                    <span class="title">Slack clone</span>
                    <span class="text">Angular
                        <p class="red" translate>(under construction)</p>
                    </span>
                    <div class="d-flex">
                        <button class="btn" (click)="tryOutMySlackClone()" translate>Try it!</button>
                        <button class="btn" (click)="slackCloneGit()" translate>Check git</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- my first own app -->
        <div class="work" id="ang2" (click)="showOverlay5()">
            <div class="imgCont">
                <img class="workImg" src="assets/img/myFirstOwnApp.jpg">
                <div class="overlay"  id="overlay4">
                    <div class="title" translate>My first own app</div>
                    <span class="text" translate>Angular<br>To manage the water supply in Meiggenalp (VS)
                        <p class="red" translate>Password: Widder1911</p>
                    </span>
                    <div class="d-flex">
                        <button class="btn" (click)="tryOutMyFirstOwnApp()" translate>Try it!</button>
                        <button class="btn" (click)="myFirstOwnApp()" translate>Check git</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ring of fire -->
        <div class="work" id="ang2" (click)="showOverlay4()">
            <div class="imgCont">
                <img class="workImg" src="assets/img/ringOfFire.png">
                <div class="overlay"  id="overlay4">
                    <div class="title"> Ring of Fire</div>
                    <span class="text" translate>Angular<br>Drinking game with Firebase</span>
                    <div class="d-flex">
                        <button class="btn" (click)="tryOutRingOfFire()" translate>Try it!</button>
                        <button class="btn" (click)="ringOfFire()" translate>Check git</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- My page -->
        <div class="work" id="ang1" (click)="showOverlay3()">
            <div class="imgCont">
                <img class="workImg" src="assets/img/myPage.png">
                <div class="overlay"  id="overlay3">
                    <div class="title" translate>My personal homepage</div>
                    <div class="text" translate>First Angular project</div>
                    <button class="btn" (click)="myPageGit()" translate>Check git</button>
                </div>
            </div>
        </div>

        <!-- El pllo loco -->
        <div class="work" id="js4" (click)="showOverlay2()">
            <div class="imgCont">
                <img class="workImg" src="assets/img/elPolloLoco.png">
                <div class="overlay" id="overlay2">
                    <div class="title">El Pollo Loco</div>
                    <div class="text" translate>JavaScript - based jump and run game</div>
                    <div class="d-flex">
                        <button class="btn" (click)="tryOutElPlloLoco()" translate>Try it!</button>
                        <button class="btn" (click)="elPlloLocoGit()" translate>Check git</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Join -->
        <div class="work" id="js3" (click)="showOverlay1()">
            <div class="imgCont">
                <img class="workImg" src="assets/img/join.jpg">
                <div class="overlay" id="overlay1">
                    <div class="title" translate>Join</div>
                    <div class="text" translate>JavaScript - Group work - kanban board</div>
                    <div class="d-flex">
                        <button class="btn" (click)="tryOutJoin()" translate>Try it!</button>
                        <button class="btn" (click)="joinGit()" translate>Check git</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>