<div class="workSection" id="work">

    <h2 [class.scaleOut]="titleWork" [class.scaleIn]="!titleWork" id="titleWork">My Work</h2>

    <div class="buttons" [class.scaleOut]="buttonsWork" [class.scaleIn]="!buttonsWork" id="buttonsWork">
        <button class="btns backgroundColorBtn" (click)="all()" [disabled]="click1" id="btn1">All</button>
        <button class="btns" (click)="angular()" [disabled]="click2" id="btn2">Angular</button>
        <button class="btns" (click)="javascript()" [disabled]="click3" id="btn3">Java Script</button>
    </div>

    <div class="myProjects">

        <!-- my first own app -->
        <div class="d-wrap">
            <div class="work" id="workBox1" [class.scaleOut]="workBox1" [class.scaleIn]="!workBox1">
                <div class="imgCont" id="wb1">
                    <img class="workImg" src="assets/img/myFirstOwnApp.png">
                    <div class="middle">
                        <div class="title">My first own app</div>
                        <div class="text">To manage the water supply in Meiggenalp (VS). Password: Widder1911</div>
                        <div class="dflex">
                            <button class="btn" (click)="tryOutMyFirstOwnApp()">Try it</button>
                            <button class="btn" (click)="myFirstOwnApp()">Check git</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- My page -->
            <div class="work" id="workBox2" [class.scaleOut]="workBox2" [class.scaleIn]="!workBox2">
                <div class="imgCont" id="wb2">
                    <img class="workImg" src="assets/img/myPage.png">
                    <div class="middle">
                        <div class="title">My personal homepage</div>
                        <div class="text">Angular - my first Angular project</div>
                        <button class="btn" (click)="myPageGit()">Check git</button>
                    </div>
                </div>
            </div>

            <!-- El pllo loco -->
            <div class="work" id="workBox3" [class.scaleOut]="workBox3" [class.scaleIn]="!workBox3">
                <div class="imgCont" id="wb3">
                    <img class="workImg" src="assets/img/elPolloLoco.png">
                    <div class="middle">
                        <div class="bg"></div>
                        <div class="title">El Pollo Loco</div>
                        <div class="text">JavaScript - based jump and run game</div>
                        <div class="dFlex">
                            <button class="btn" (click)="tryOutElPlloLoco()">Try it</button>
                            <button class="btn" (click)="elPlloLocoGit()">Check git</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Join -->
            <div class="work" id="workBox4" [class.scaleOut]="workBox4" [class.scaleIn]="!workBox4">
                <div class="imgCont" id="wb4">
                    <img class="workImg" src="assets/img/join.jpg">
                    <div class="middle">
                        <div class="title">Join</div>
                        <div class="text">JavaScript - Group work kanban board</div>
                        <div class="dFlex">
                            <button class="btn" (click)="tryOutJoin()">Try it!</button>
                            <button class="btn" (click)="joinGit()">Check git</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pokedex -->
            <!-- <div class="work" id="workBox4" [class.scaleOut]="workBox4" [class.scaleIn]="!workBox4">
                <div class="imgCont" id="wb4">
                    <img class="workImg" src="assets/img/pokedex.png">
                    <div class="middle">
                        <div class="title">Pokedex</div>
                        <div class="text">JavaScript - A project with rest API's</div>
                        <div class="dFlex">
                            <button class="btn" (click)="tryOutPokedex()">Try it!</button>
                            <button class="btn" (click)="pokedexGit()">Check git</button>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>