<div class="sklillsSection" id="skills">
    <h2>My Skills</h2>
    <div class="skillBoxes">
        <div class="d-flex">
            <div class="boxes">
                <p>Java Script</p>
                <div class="position">
                    <img class="js" src="assets/ico/javaScript.png">
                </div>
            </div>
            <div class="boxes">
                <p>Angular</p>
                <div class="position">
                    <img class="angular" src="assets/ico/angular.png">
                </div>
            </div>
            <div class="boxes">
                <p>HTML / CSS</p>
                <div class="position">
                    <img class="htmlCss" src="assets/ico/Group 205.png">
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="boxes">
                <p class="p4">SCRUM</p>
                <div class="position">
                    <img class="scrum" src="assets/ico/Group 226.png">
                </div>
            </div>
            <div class="boxes">
                <p class="p5">GIT</p>
                <div class="position">
                    <img class="git" src="assets/ico/github-fill.png">
                </div>
            </div>
            <div class="boxes">
                <p class="p6">Design<br>Thinking</p>
                <div class="position">
                    <img class="design" src="assets/ico/Group 20.png">
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="boxes">
                <p class="p7">Rest API</p>
                <div class="position">
                    <img class="api" src="assets/ico/icons8-rest-api-80 2.png">
                </div>
            </div>
            <div class="boxes">
                <p class="p8">Test<br>automation</p>
                <div class="position">
                    <img class="test" src="assets/ico/icons8-test-lab-96 2.png">
                </div>
            </div>
            <div class="boxes">
                <p class="p9">Database</p>
                <div class="position">
                    <img class="database" src="assets/ico/icons8-database-52 2.png">
                </div>
            </div>
        </div>
    </div>
</div>
