<div class="aboutMeSection" id="about">

    <div class="description" data-aos="fade-right">

        <h2>About me</h2>

        <div class="text">
            <p>
                I am a Junior Web-Developer with experience in building projects
                with Angular and JavaScript as you can find in my public portfolio.
            </p>
            <p>
                I started my IT journey in Christmas 1994, when I was given my first
                computer. And since then, this world has fascinated me. At that time,
                there were limited options in my area. That is why I had decided to
                go in another direction.
            </p>
            <p>
                In my twenty years of professional activities, I have worked in several
                roles from a workshop to a self-employed welder and assembly
                manager. Based on my past experience as an assembly manager, I
                am used to achieving goals together as a team. Technology has
                always accompanied my professional life and now it was time to take
                up the topic of computers again. Learning programming was
                therefore the next logical step for me. Thus I learned the basics of
                WEB development at the Developer Academy (DE).
            </p>
            <p>
                I loved to create something with my hands. With programming I
                found a new challenge, now I can create with the keyboard!
            </p>
            <p>
                As a former extreme athlete (artistic gymnastics, climbing, crossfit…),
                I know what perseverance means: I never giving up, but also
                knowing limits.
            </p>
            <p>
                I am looking forward to building on my experience and starting my
                career in IT in a junior developer position.
            </p>
        </div>
    </div>

    <div class="aboutMeImg" data-aos="fade-left">
        <img class="imgAboutMe" src="assets/img/meProfile.jpg">
    </div>

</div>