<div class="aboutMeSection">
    <div class="description">
        <h2>About me</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut culpa tenetur odio tempora amet,
            reprehenderit
            aliquid. Sapiente saepe veritatis quasi temporibus assumenda accusamus natus! Asperiores, voluptatem
            distinctio! Et, quidem praesentium?
        </p>
    </div>
    <div class="aboutMeImg">
        <img class="imgAboutMe" src="assets/img/meProfile.jpg">
    </div>
</div>
