.aboutMeSection {
    position: relative;
    width: 100%;
    height: 41.6vw;
    display: flex;
    justify-content: space-between;
    font-family: 'Sen';

    .description {
        h2 {
            position: absolute;
            top: 3.5vw;
            left: 5vw;
            font-style: normal;
            font-weight: 700;
            font-size: 3.82vw;
            line-height: 4.58vw;
            min-width: 400px;
        }

        p {
            position: absolute;
            top: 9.3vw;
            left: 5vw;
            width: 40vw;
            color: #181823;
            padding-right: 5vw;
            font-size: 1.11vw;
        }
    }

    .aboutMeImg {
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        z-index: 1;

        .imgAboutMe {
            width: 50vw;
        }
    }
}

@media(max-width: 900px) {

    .aboutMeSection {
        height: fit-content;
        flex-direction: column-reverse;

        .description {
            min-height: fit-content;

            h2 {
                position: unset;
                margin-left: 4.44vw;
                font-size: 8.89vw;
                line-height: 2.64
            }

            p {
                position: unset;
                min-height: fit-content;
                margin-bottom: 12vw;
                width: 91.12vw;
                margin-left: 4.44vw;
                color: #181823;
                font-size: 18px;
            }
        }

        .aboutMeImg {
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            z-index: 1;

            .imgAboutMe {
                width: 100vw;

            }
        }
    }
}