<div class="aboutMeSection" id="about">
    <div class="description" id="aboutBox1"[class.activeInLAbout]="reachedAbout" [class.activeOutLAbout]="!reachedAbout">
        <h2>About me</h2>
        <p>
            Programmieren zu Lernen war für mich der nächste logische Schritt!
            <br><br>
            Weihnachten 1994 wurde mir ein Computer geschenkt...<br>
            Und seither fasziniert mich diese Welt!
            <br><br>
            In meiner zwanzigjährigen Berufstätigkeit war ich vom Werkstattarbeiter bis zum selbstständigen Schweisser 
            und Montageleiter unterwegs. Wegen letzterem bin ich es gewohnt zusammen ein Ziel zu erreichen. Leider 
            sah ich auf Grund Rückenproblemen in meinem Beruf keine Zukunft mehr. 
            Nach einer kurzen Neuorientierung stiess ich im Netz auf die Developer Akademie (DE). 
            Ich liebte es mit meinen Händen etwas zu erschaffen. Mit dem Programmieren habe ich eine 
            neue Herausforderung gefunden, jetzt kann ich mit der Tastatur erschaffen!
            <br><br>
            Als ehemaliger Extremsportler weiss ich was Durchhalten heisst, dass ich niemals aufgebe, jedoch auch wo 
            meine Grenzen sind. Zudem bringe ich ein grosses Engagement und eine hohe Lernbereitschaft mit. 
            <br><br>
            In ungefähr einem Monat werde ich meinen Onlinekurs zum Frontend Entwickler abschliessen. 
            Zu einem Backend Kurs habe ich mich bereits angemeldet. Diesen könnte ich auch berufsbegleitend machen.
        </p>
    </div>
    <div class="aboutMeImg" id="aboutBox2" [class.activeInRAbout]="reachedAbout" [class.activeOutRAbout]="!reachedAbout">
        <img class="imgAboutMe" src="assets/img/meProfile.jpg">
    </div>
</div>
