<div class="header">


</div>

<div class="topCont">


    <div class="test">

        <div class="headerImg">
            <img class="meImg" src="assets/img/me.jpg">
        </div>

        <div class="secoundBg">
            <div class="contBg">
                <div class="titelCont">
                    <div class="titel">
                        <p>
                            I'm Jürgen Hildbrand.<br>
                            A Front end Developer<br>
                            based in Switzerland.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>