.container {
    padding-top: 8.4vw;
    padding-left: 5.35vw;
    padding-right: 5.35vw;
    padding-bottom: 36px;
}

@media(max-width: 1000px) {

    .linksHeader {
        a {
            font-size: 14px !important;
        }
    }
    .imprintCont {
        p {
            font-size: 14px !important;
        }
    }
}