<div class="topSection">
    <div class="headerImg">
        <img class="meImg" src="assets/img/meAtWork.jpg">
    </div>
    <div class="secoundBg">
        <div class="headerTxt">
            <span>
                I'm Jürgen Hildbrand.<br>
                A Front end Developer<br>
                based in Switzerland.
            </span>
            <p> Hi, welcome to my homepage...</p>
            <p class="pSecound"> 
                Recently I started programming, with<br>
                this I discovered a new passion!
            </p>
        </div>
    </div>
</div>
