<div class="topSection" id="topSection">

    <div class="headerImg" [class.active4InL]="topSection" [class.active4OutL]="!topSection" id="headerImg">
        <img class="meImg" src="assets/img/meAtWork.jpg">
    </div>

    <div class="secoundBg" [class.active4InR]="secoundBg" [class.active4OutR]="!secoundBg" id="secoundBg">
        <div class="headerTxt" [class.active5InR]="secoundBg" [class.active5OutR]="!secoundBg" id="headerTxt">

            <span>
                I'm Jürgen Hildbrand.<br>
                A Front end Developer<br>
                based in Switzerland.
            </span>

            <p> Hi, welcome to my homepage...</p>
            
            <p class="pSecound"> 
                Recently I started programming, with<br>
                this I discovered a new passion!
            </p>

        </div>
    </div>

</div>
