.topSection {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Sen';

    .headerImg {
        position: absolute;
        top: 0;
        margin-top: 6.11vw;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        z-index: 1;
        font-family: 'Seravek';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 150%;

        .meImg {
            width: 52.1vw;
        }
    }

    .secoundBg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 62.5vw;
        display: flex;
        align-items: center;
        background-color: #181823;

        .headerTxt {
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 8vw;
            z-index: 5;

            span {
                font-style: normal;
                font-weight: bold;
                font-size: 4.51vw;
                line-height: 6vw;
                color: white;
                font-family: 'Sen';
                font-style: normal;
                font-weight: 700;
            }

            p {
                margin-top: 0.5vw;
                font-size: 1.25vw;
                color: white;
                font-weight: 500;
            }
        }
    }
}


@media(max-width: 900px) {

    .topSection {
        height: calc(100vh - 88px);

        .headerImg {
            position: unset;
            margin-top: 0vw;

            .meImg {
                width: 100%;
                min-height: calc(100vh - 88px - 280px);
                height: calc(100vh - 88px - 280px);;
                object-fit: cover;
                object-position: 0px 20%;
            }
        }

        .secoundBg {
            position: relative;
            width: 100%;
            height: 280px;
            display: flex;
            align-items: center;
            background-color: #181823;
            display: flex;
            flex-direction: column;

            .headerTxt {
                margin-left: 0;

                span {
                    position: absolute;
                    top: 31px;
                    left: 4.44vw;
                    font-size: 32px;
                    line-height: 38px;
                }

                p {
                    position: absolute;
                    top: 157px;
                    left: 4.44vw;
                    font-size: 18px;
                    color: white;
                }

                .pSecound {
                    position: absolute;
                    top: 187px;
                }
            }
        }
    }
}

@media(max-width: 380px) {

    .topSection {
        .secoundBg {
            .headerTxt {

                span {
                    font-size: 8vw;
                }

                p {
                    font-size: 4vw;
                }

                .pSecound {
                    font-size: 4vw;
                }
            }
        }   
    }
}

@media(min-width: 1600px) {

    .topSection {

        .headerImg {
            width: 100%;

            .meImg {;
                width: 52.1%;
                max-height: 80%;
                object-fit: cover;
                object-position: 0px 20%;
            }
        }
    }
}