<div class="contactSection" id="contactSection">

    <h2>Contact me.</h2>

    <div class="contactDescription">
        <p>Get in touch via the form below, or by emailing</p>
        <a href="mailto:abc@example.com" target="_blank">info@juergenhildbrand.ch</a>
    </div>

    <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
        <div class="collumn">

            <div class="contactTxt">Name</div>
            <input type="text" formControlName="name" placeholder="name">
            <span class="validation-error mt4" *ngIf="(formSubmitted || 
                registrationFormGroup.controls.name.touched) && 
                registrationFormGroup.controls.name.errors?.required">
                Name is required
            </span>
            <span class="validation-error mt4" *ngIf="(formSubmitted || 
                registrationFormGroup.controls.name.touched)  && 
                registrationFormGroup.controls.name.errors?.minlength || 
                registrationFormGroup.controls.name.errors?.maxlength">
                Name should be between 4 to 50 characters
            </span>

            <div class="contactTxt">Email address</div>
            <input type="text" formControlName="email" placeholder="email">
            <span class="validation-error mt4" *ngIf="(formSubmitted || 
                registrationFormGroup.controls.email.touched) && 
                registrationFormGroup.controls.email.errors?.required">
                Email is required
            </span>
            <span class="validation-error mt4" *ngIf="(formSubmitted || 
                registrationFormGroup.controls.email.touched) && 
                registrationFormGroup.controls.email.errors?.email">
                Please enter correct email id
            </span>


            <div class="contactTxt">Message</div>
            <div class="example-full-width">
                <textarea formControlName="message" placeholder="enter your message"></textarea>
            </div>
            <div class="collumn">
                <span class="validation-error mt4" *ngIf="(formSubmitted || 
                    registrationFormGroup.controls.name.touched) && 
                    registrationFormGroup.controls.name.errors?.required">
                    Message is required
                </span>
                <span class="validation-error" *ngIf="(formSubmitted || registrationFormGroup.controls.message.touched) && 
                    registrationFormGroup.controls.message.errors?.minlength || 
                    registrationFormGroup.controls.message.errors?.maxlength">
                    Massage should be between 30 to 500 characters
                </span>

                <button type="submit">Submit</button>

            </div>
        </div>
    </form>
</div>

<div class="response" id="response" *ngIf="response.hasResponse" [class.response__ok]="response.ok"
    [class.response__not_ok]="!response.ok" [class.scaleOutC]="response.ok" [class.scaleInC]="response.notOk">

    {{response.message}}
    <button (click)="closeResponse()">Ok</button>
</div>

<!-- email 
pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" -->