.imprintCont {
    position: relative;
    width: 90%;
    padding-top: 10.4vw;
    padding-left: 5.35vw;
    padding-right: 5.35vw;
    padding-bottom: 36px;
    min-height: 71vh;
}

h1 {
    font-size: 2.22vw;
}

h2 {
    font-size: 1.66vw;
}

a {
    text-decoration: none;
}


@media(max-width: 900px) {

    h1 {
        font-size: 27px;
    }
    
    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px !important;
    }
}